<div *ngIf="!uniqueCartItems?.length" class="cart-error-message">
  <i class="fas fa-shopping-cart cart-image-fs align-items-center"></i>
  <span class="fs-h1-vw">Кошик порожній</span>
  <a href="/flow">
    <button type="submit" class="btn btn-primary submit-button error-button text-black"><p class="fs-3vw m-0">Розпочати!</p></button>
  </a>
</div>
<div *ngIf="uniqueCartItems?.length" class="container">
  <div class="mt-4 mt-5">
    <span class="fs-h1-vw">Ваш кошик</span>
    <div *ngFor="let uniqueCartItem of uniqueCartItems" class="card mb-4 shadow mt-2vw">
      <div *ngIf="(getHotelById(uniqueCartItem.offerId) | async) as offer" class="d-flex">
        <div class="m-auto">
          <img [src]="offer.mediaList[0]?.source" class="img-fluid cart-item-image" alt="Зображення готелю">
        </div>
        <div class="col-md-8">
          <div class="d-flex justify-content-between">
            <div class="d-flex flex-column gap-2vh w-35">
              <div class="d-flex flex-column">
                <span class="fs-h1-vw fw-bold">Готель</span>
                <span class="fs-5vw fw-bold">{{ offer.name }}</span>
                <div class="d-flex gap-1vh align-items-center pb-1vw">
                  <i class="fas fa-location-dot fs-7 align-items-center"></i>
                  <span class="fs-2vw">{{ offer.location.city }}, {{ offer.location.country }}</span>
                </div>
              </div>
            </div>
            <div *ngFor="let room of (getRoomsByHotelId(offer.id) | async)" class="cart-item-room">
              <div *ngIf="getCartItemByHotelAndRoomId(offer.id, room.roomId) as cartItem" class="d-flex flex-column gap-1vh">
                <span class="fs-5vw fw-bold">{{ room.roomType + ' × ' + cartItem.numberOfRooms}}</span>
                <div>
                  <ul class="list-unstyled p-0 m-0">
                    <li class="fs-3vw"><span class="fw-bold">Дата заїзду: </span>{{cartItem.dateFrom | date:'mediumDate'}}</li>
                    <li class="fs-3vw"><span class="fw-bold">Дата виїзду: </span>{{cartItem.dateTo | date:'mediumDate'}}</li>
                    <li class="fs-3vw"><span class="fw-bold">Кількість ночей: </span>{{ getNumberOfNights(cartItem) }}</li>
                    <li class="fs-3vw"><span class="fw-bold">Ціна за ніч: </span>{{ room.price }}₴</li>
                    <li class="fs-3vw"><span class="fw-bold">Загальна сума: </span>{{ room.price * getNumberOfNights(cartItem) * cartItem.numberOfRooms }}₴</li>
                  </ul>
                  <button class="btn btn-outline-danger delete-button btn-sm" (click)="removeItem(offer.id, room.roomId)"><span class="fs-3vw">Видалити</span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex gap-1vh flex-column">
      <div class="d-flex justify-content-end">
        <span class="fs-6vw">До сплати: {{ getTotalPrice() | async }}₴</span>
      </div>
      <div class="d-flex flex-column">
        <div class="d-flex justify-content-end">
          <!--      <button class="btn btn-success btn-lg order-button text-black" (click)="order()"><span class="fs-4vw bold">Оформити замовлення</span></button>-->
          <google-pay-button
            environment="TEST"
            buttonSizeMode="fill"
            buttonColor="black"
            buttonType="pay"
            [paymentRequest]="paymentRequest"
            [paymentAuthorizedCallback]="onPaymentDataAuthorized"
            (loadedmetadata)="onLoadPaymentData($event)"
            (error)="onError($event)">
          </google-pay-button>
        </div>
        <div class="d-flex justify-content-end">
          <button class="btn btn-success btn-lg order-button text-black" (click)="clear()"><span class="fs-4vw bold">Очистити кошик</span></button>
        </div>
      </div>
    </div>
  </div>
</div>
