.offer-card {
  border-radius: 20px;
  height: 11vw;
  width: 70%;
  margin: auto;
  padding: 0.5rem;

  background-color: #f3f4f6;
}

.offer-card-img {
  border-radius: 20px;
  width: 100%;
}

.image-block {
  max-width: 25%;
  margin: auto 0;
  padding-right: 1rem;

  display: flex;
  justify-items: center;
}

.offer-card-text {
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  overflow-y: auto;
}

.description-block {
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  overflow-y: auto;

  line-height: 1vw;

  height: 50%;
  width: 100%;

  text-align: justify;
  padding-right: 5px;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #909396;
  border-radius: 10px;
}

.mark-block {
  width: 30%;
  height: 60%;
  margin-top: 0.5vw;
  margin-left: 0.5vw;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;

  background-color: #7a948c;
}

.offer-button {
  background-color: white;
  border-color: black;

  padding: 0.1vw 0.9vw;

  margin-top: 0.6vw;
}

.offer-button:hover {
  background-color: #dfe2e7;
  border-color: black;
}
