<div class="main-container">
  <div class="registration-container">
    <div class="d-flex">
    </div>
    <div class="input-form" *ngIf="isHotelFormSelected()">
      <div class="header-block">
        <p class="fs-h2-vw">Пошук Готелей</p>
        <img src="/assets/12332.png" class="background-image" alt="img">
      </div>
      <div>
        <div>
          <form [formGroup]="hotelSearchForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="dateFrom">Дата з:</label>
              <input type="date" id="dateFrom" formControlName="dateFrom">
              <div
                *ngIf="hotelSearchForm.get('dateFrom')?.invalid && (hotelSearchForm.get('dateFrom')?.dirty || hotelSearchForm.get('dateFrom')?.touched)"
                class="text-danger">
                Дата з обов'язкова
              </div>
            </div>
            <div class="form-group">
              <label for="dateTo">Дата по:</label>
              <input type="date" id="dateTo" formControlName="dateTo">
              <div
                *ngIf="hotelSearchForm.get('dateTo')?.invalid && (hotelSearchForm.get('dateTo')?.dirty || hotelSearchForm.get('dateTo')?.touched)"
                class="text-danger">
                Дата по обов'язкова
              </div>
            </div>
            <div class="form-group">
              <label for="location">Локація:</label>
              <select class="form-select" id="location" formControlName="location">
                <option *ngFor="let location of (locations | async)" [value]="location.id">
                  {{ location.city }}, {{ location.country }}
                </option>
              </select>
              <div
                *ngIf="hotelSearchForm.get('location')?.invalid && (hotelSearchForm.get('location')?.dirty || hotelSearchForm.get('location')?.touched)"
                class="text-danger">
                Локація обов'язкова
              </div>
            </div>
            <div>
              <button type="submit" class="submit-button" [disabled]="hotelSearchForm.invalid">Пошук</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
