<div>
  <img src="/assets/10708703.jpg" class="background-image" alt="img">
  <img src="/assets/5556073.jpg" class="background-image" alt="img">

  <div class="d-flex align-items-center flex-md-column position-fixed test gap-4">
    <div class="vertical-line height-200"></div>
    <div class="d-flex flex-md-column gap-3">
      <a href="https://www.instagram.com/explore/tags/traveling" target="_blank" rel="noopener noreferrer">
        <i class="fas fa-brands fa-instagram fs-3 color-grey"></i>
      </a>
      <a href="https://twitter.com" target="_blank" rel="noopener noreferrer">
        <i class="fas fa-brands fa-x-twitter fs-3 color-grey"></i>
      </a>
      <a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer">
        <i class="fas fa-brands fa-youtube fs-3 color-grey"></i>
      </a>
    </div>
    <div class="vertical-line height-150"></div>
  </div>
</div>
