<div class="d-flex flex-md-column">

  <div class="d-flex h-100 align-items-center flex-md-column position-fixed links gap-4 z-2">
    <div class="vertical-line height-200"></div>
    <div class="d-flex flex-md-column gap-3">
      <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
        <i class="fas fa-brands fa-instagram fs-3 text-black"></i>
      </a>
      <a href="https://twitter.com" target="_blank" rel="noopener noreferrer">
        <i class="fas fa-brands fa-x-twitter fs-3 text-black"></i>
      </a>
      <a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer">
        <i class="fas fa-brands fa-youtube fs-3 text-black"></i>
      </a>
    </div>
    <div class="vertical-line height-150"></div>
  </div>

  <div class="position-relative">
    <img src="/assets/10708703.jpg" class="background-image position-relative" alt="img">
    <div class="d-flex block-separator position-absolute z-1"></div>
  </div>

  <div class="position-relative">
    <img src="/assets/img_11.jpg" class="background-image position-relative" alt="img">
    <div class="d-flex align-items-center position-absolute z-1 content-block left-content-block">
      <img src="/assets/img_13.jpg" class="ms-5 content-image" alt="img">
      <div class="d-flex  flex-md-column m-4 font-lucida-console">
        <p class="fs-h2-vw mb-1">Вітаємо в Tour Ease Book!</p>
        <p class="fs-3vw mb-2">Ваші ворота в незабутні подорожі та індивідуальні пригоди. Відкрийте для себе світ разом з нами і вирушайте в подорож, яка не схожа на інші.</p>
        <p class="fs-3vw mb-2">Почни свою подорож!</p>
        <div class="form-group text-center">
          <a href="/flow">
            <button type="submit" class="btn btn-primary submit-button text-black"><p class="fs-3vw m-0">Розпочати!</p></button>
          </a>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-end align-items-center position-absolute z-1 content-block right-content-block">
      <div class="d-flex flex-md-column m-4 font-lucida-console gap-1vh">
        <div>
          <p class="fs-h2-vw mb-1vw">Чому обирають нас</p>
          <p class="fs-3vw mb-07vw">Дізнайтеся про унікальні переваги, які роблять Tour Ease Book ідеальною платформою для ваших подорожей.</p>
        </div>
        <div>
          <div class="d-flex align-items-baseline fs-7 gap-2">
            <i class="fas fa-cloud fs-7 "></i>
            <div>
              <p class="fs-3vw mb-1">Легке бронювання</p>
              <p class="fs-1vw mb-1vw">Забронюйте свою наступну відпустку всього за кілька кліків за допомогою нашої зручної платформи бронювання, яка адаптується до ваших потреб у подорожах.</p>
            </div>
          </div>
          <div class="d-flex align-items-baseline fs-7 gap-2">
            <i class="fas fa-cart-plus fs-6 "></i>
            <div>
              <p class="fs-3vw mb-1">Найкращі пропозиції</p>
              <p class="fs-1vw mb-1vw">У нас ви знайдете ексклюзивні знижки, щоб ви могли вирушити у подорож своєї мрії за зручними цінами.</p>
            </div>
          </div>
          <div class="d-flex align-items-baseline fs-7 gap-2">
            <i class="fas fa-eye fs-7 "></i>
            <div>
              <p class="fs-3vw mb-1">24/7 Підтримка</p>
              <p class="fs-1vw mb-1vw">Наша команда підтримки доступна цілодобово, щоб допомогти з будь-якими питаннями, пов'язаними з подорожами.</p>
            </div>
          </div>
        </div>
      </div>
      <img src="/assets/img_15.jpg" class="me-5 content-image" alt="img">
    </div>

    <div class="d-flex align-items-center position-absolute z-2 content-block left-bottom-content-block">
      <img src="/assets/img_18.jpg" class="ms-5 content-image" alt="img">
      <div class="d-flex  flex-md-column m-4 font-lucida-console gap-1vh">
        <div>
          <p class="fs-h2-vw mb-1">Наші досягнення</p>
          <p class="fs-3vw mb-0">Основні досягнення Tour Ease Book, які демонструють наше прагнення надавати неперевершені туристичні враження.</p>
        </div>
        <div class="d-flex flex-md-column align-items-center gap-1vh">
          <div class="d-flex flex-md-column align-items-center fs-7 achievement-element p-3">
            <p class="fs-5vw m-0">5000</p>
            <p class="fs-1vw m-0">Щасливих Клієнтів</p>
          </div>
          <div class="d-flex flex-md-column align-items-center fs-7 achievement-element p-3">
            <p class="fs-5vw m-0">120</p>
            <p class="fs-1vw m-0">Країн Відвідано</p>
          </div>
          <div class="d-flex flex-md-column align-items-center fs-7 achievement-element p-3">
            <p class="fs-5vw m-0">95%</p>
            <p class="fs-1vw m-0">Хороших Оцінок</p>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex align-items-end justify-content-between footer-separator position-absolute z-1 fs-7vw">
      <div class="m-4">
        <div class="d-flex gap-4 m-1">
          <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
            <i class="fas fa-brands fa-instagram fs-h2-vw text-black"></i>
          </a>
          <a href="https://twitter.com" target="_blank" rel="noopener noreferrer">
            <i class="fas fa-brands fa-x-twitter fs-h2-vw text-black"></i>
          </a>
          <a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer">
            <i class="fas fa-brands fa-youtube fs-h2-vw text-black"></i>
          </a>
        </div>
        <p class="font-monospace m-1">Авторські права &copy; 2024 Tour Ease Book. Усі права захищено.</p>
      </div>
      <div class="d-flex">
        <div class="m-4 d-flex flex-column p-2vw pe-5 gap-1vh">
          <a class="text-decoration-none fs-6vw header-navigation-link text-black" href="/">Головна</a>
          <a class="text-decoration-none fs-6vw header-navigation-link text-black" href="/flow">Пропозиції</a>
          <a class="text-decoration-none fs-6vw header-navigation-link text-black" href="/cart">Кошик</a>
          <a *ngIf="!authorizationService.isLoggedIn()" class="text-decoration-none fs-6vw header-navigation-link text-black" href="/registration">Реєстрація</a>
          <a *ngIf="!authorizationService.isLoggedIn()" class="text-decoration-none fs-6vw header-navigation-link text-black" href="/login">Вхід</a>
          <a *ngIf="authorizationService.isLoggedIn()" class="text-decoration-none fs-6vw header-navigation-link text-black" href="/orders">Замовлення</a>
          <a *ngIf="authorizationService.isLoggedIn()" class="text-decoration-none fs-6vw header-navigation-link text-black" href="/login" (click)="logout()">Вихід</a>
        </div>
      </div>
    </div>
  </div>
</div>
