<div class="main-container">
  <div class="background-container">
    <div class="registration-container">
      <div class="input-form">
        <div class="header-block">
          <h2>Sign Up</h2>
          <img ngSrc="/assets/12332.png" class="background-image" alt="img" height="201" width="436" priority="1">
        </div>
        <form class="d-flex flex-column gap-1" [formGroup]="registrationForm" (ngSubmit)="onSubmit()" novalidate>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" formControlName="username" class="form-control" [ngClass]="{'is-invalid': registrationForm.get('username')?.invalid && (registrationForm.get('username')?.dirty || registrationForm.get('username')?.touched)}">
            <div class="invalid-feedback"
                 *ngIf="registrationForm.get('username')?.invalid && (registrationForm.get('username')?.dirty || registrationForm.get('username')?.touched)">
              Username is required.
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" class="form-control" [ngClass]="{'is-invalid': registrationForm.get('email')?.invalid && (registrationForm.get('email')?.dirty || registrationForm.get('email')?.touched)}">
            <div class="invalid-feedback"
                 *ngIf="registrationForm.get('email')?.invalid && (registrationForm.get('email')?.dirty || registrationForm.get('email')?.touched)">
              Please enter a valid email address.
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" class="form-control" [ngClass]="{'is-invalid': registrationForm.get('password')?.invalid && (registrationForm.get('password')?.dirty || registrationForm.get('password')?.touched)}">
            <div class="invalid-feedback"
                 *ngIf="registrationForm.get('password')?.invalid && (registrationForm.get('password')?.dirty || registrationForm.get('password')?.touched)">
              Password must be at least 6 characters long.
            </div>
          </div>
          <div class="form-group text-center">
            <button type="submit" [disabled]="!registrationForm.valid" class="btn btn-primary submit-button">Sign Up</button>
          </div>
        </form>
        <p class="hint-message text-center mt-3">Already have an account? <a href="/login" class="btn btn-link p-0 text-decoration-none">Sign In!</a></p>
      </div>
    </div>
  </div>
</div>
