<div class="chat-container">
  <button *ngIf="!showChat" (click)="toggleChat()" class="chat-toggle-btn"><i class="fas fa-headset fs-h1-vw"></i>
  </button>
  <div *ngIf="showChat" class="chat-box">
    <div class="chat-header">
      <div class="d-flex align-items-center gap-1vh">
        <span class="fs-4vw fw-bold">ШІ Асистент</span>
        <div class="info-tooltip">
          <i class="fas fa-info-circle fs-3vw"></i>
          <span class="tooltiptext fs-3vw">Вам буде відповідати штучний інтелект. Просто напишіть, що Вас цікавить, і Ви одразу отримаєте відповідь!</span>
        </div>
      </div>
      <i class="fs-6vw fas fa-close close-button" (click)="toggleChat()"></i>
    </div>
    <div class="chat-body" #chatContainer>
      <div *ngFor="let message of messages" class="message" [ngClass]="{'user-message': message.role === 'user', 'assistant-message': message.role !== 'user'}">
        <span class="fs-3vw">{{ message.content }}</span>
      </div>
    </div>
    <div class="input-block">
      <input [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" placeholder="Введіть повідомлення.." class="chat-input fs-3vw">
      <button class="btn btn-primary arrow-button" (click)="sendMessage()"><i class="fas fa-arrow-alt-circle-up fs-3vw"></i></button>
    </div>
  </div>
</div>
