<div class="main-container {{(travelOffers | async)?.length > 3 ? 'background-image-1' : 'background-image-2'}}">
  <div class="d-flex justify-content-center align-items-center flex-column">
    <div class="mb-1" *ngFor="let offer of (travelOffers | async)">
      <div class="offer-card card">
        <div class="d-flex w-100 gap-1vh">
          <div class="w-45">
            <img class="offer-card-img"
                 src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/169124345.jpg?k=d4cfda0944783ff4dbcf081725203598e8e54871b44e057c569712795acffdd5&o=&hp=1"
                 alt="Hotel Image">
          </div>
          <div class="d-flex flex-column align-items-center ">
            <div class="d-flex align-items-center gap-1vh">
              <p class="card-title fs-6vw fw-bold m-0">{{ offer.name }}</p>
              <div>
                <i *ngFor="let _ of [1, 2, 3]" class="fas fa-star fs-7 "></i>
              </div>
              <i class="fas fa-thumbs-up fs-8"></i>
            </div>
            <h6>Rooms:</h6>
            <ul class="list-unstyled">
              <li *ngFor="let room of offer.rooms">
                Type: {{ room.roomType }}, Capacity: {{ room.capacity }}, Price: {{ room.price }}
                <p class="fs-3vw fw-bold">{{ room.roomType }}</p>
                <p class="fs-3vw fw-bold">{{ room.roomType }}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

