.background-image-1 {
  background-image: url('/assets/img_19.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.background-image-2 {
  background-image: url('/assets/img_19.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer-card {
  border-radius: 20px;
  height: 30%;
  width: 70%;
  margin: auto;
}

.offer-card-img {
  border-radius: 20px;
  width: 100%;
}
