<div *ngIf="travelOfferDetails | async as offer" class="container mt-5">
  <div class="d-flex align-items-center justify-content-between">
    <div>
      <div class="d-flex gap-1vh align-items-center">
        <span class="fs-h1-vw fw-bold">{{ offer.name }}</span>
        <i *ngFor="let _ of [].constructor(offer.stars)" class="fas fa-star fs-6vw"></i>
      </div>
      <span class="fs-4vw">{{ offer.location.city }}, {{ offer.location.country }}</span>
      <p class="fs-3vw">{{ offer.address }}</p>
    </div>
    <div class="mark-block">
      <span class="fs-4vw fw-bold">{{ getHotelRating(offer.reviews) }}</span>
    </div>
  </div>

  <div class="card">
    <div class="d-flex justify-content-between p-3vw gap-2vh">
      <div *ngIf="offer.mediaList.length > 0" id="hotelImagesCarousel"
           class="carousel slide carousel-fade w-75">
        <div class="carousel-indicators">
          <button *ngFor="let _ of offer.mediaList; let i = index" type="button"
                  [attr.data-bs-target]="'#hotelImagesCarousel'"
                  [attr.data-bs-slide-to]="i"
                  [class.active]="i === 0"
                  [attr.aria-label]="'Slide ' + (i + 1)"></button>
        </div>
        <div class="carousel-inner">
          <div *ngFor="let media of offer.mediaList; let isFirst = first" class="carousel-item"
               [class.active]="isFirst">
            <img [src]="media.source" class="d-block w-100 offer-details-image" alt="Hotel Image">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#hotelImagesCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#hotelImagesCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="d-flex flex-column w-45 m-auto gap-1vh">
        <div class="d-flex flex-column gap-1vh">
          <span class="fs-h3-vw fw-bold">Найкращі відгуки</span>
          <div *ngFor="let review of getTopReviews(offer.reviews)" class="review-card">
            <div class="fs-4vw fw-bold">{{ review.username }}</div>
            <div class="d-flex flex-column">
              <div class="fs-3vw">{{ cutReviewText(review.comment) }}</div>
              <div class="fs-3vw">Оцінка: {{ review.rating }} <i class="fas fa-star fa-star-color"></i></div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <span class="all-reviews fs-3vw" (click)="scrollToReviews()">Усі відгуки</span>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="offer-details-block">
        <span class="fs-5vw fw-bold">Загальна інформація</span>
        <p class="card-text fs-3vw pt-1">{{ offer.description }}</p>
      </div>
      <div class="offer-details-block">
        <span class="fs-5vw fw-bold pb">Зручності</span>
        <div class="d-flex flex-wrap">
          <div class="w-25 fs-3vw p-2vw" *ngFor="let amenity of offer.amenities">
            <i class="fas fa-check"></i> {{ amenity }}
          </div>
        </div>
      </div>

      <div class="offer-details-block">
        <span class="fs-5vw fw-bold">Кімнати</span>
        <div class="d-flex flex-wrap">
          <div *ngFor="let room of offer.rooms" class="room-block">
            <app-hotel-room [offerId]="offer.id" [room]="room"></app-hotel-room>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="my-3" id="reviews">
    <div class="d-flex justify-content-between align-items-center mb-07vw">
      <span class="fs-h3-vw fw-bold">Відгуки</span>
      <i *ngIf="isAddingReview" (click)="toggleReviewForm(false)" class="fas fa-close fs-h2-vw close-icon"></i>
      <button *ngIf="!isAddingReview" class="btn btn-primary offer-button text-black" (click)="toggleReviewForm(true)">
        <span class="fs-3vw">Додати відгук</span>
      </button>
    </div>
    <div *ngIf="isAddingReview">
      <form [formGroup]="reviewForm" class="review-form" (ngSubmit)="submitReview()">
        <div class="d-flex flex-column gap-1vh">
          <input formControlName="comment" placeholder="Ваш відгук" class="form-control"/>
          <div class="rating">
            <span *ngFor="let star of [1, 2, 3, 4, 5]; let i = index" (click)="rate(star)" [ngClass]="{'checked': reviewForm.value.rating >= star}">
              <i class="fa fa-star fs-5vw"></i>
            </span>
          </div>
        </div>

        <div class="d-flex gap-2vh">
          <button type="submit" class="btn btn-primary offer-button text-black">
            <span class="fs-3vw">Надіслати</span>
          </button>
        </div>
      </form>
    </div>
    <div *ngFor="let review of getLastReviews(offer.reviews)"
         class="d-flex flex-column gap-1vh border-top mt-3vw pt-3vw">
      <span class="fs-4vw fw-bold">{{ review.username }}</span>
      <div class="d-flex flex-column">
        <span class="fs-3vw">{{ review.comment }}</span>
        <span class="fs-3vw">Оцінка: {{ review.rating }} <i class="fas fa-star fa-star-color"></i></span>
      </div>
    </div>
    <button *ngIf="offer.reviews?.length > displayedReviews" class="btn btn-primary offer-button text-black"
            (click)="getMoreReviews()"><span class="fs-3vw">Більше</span></button>
  </div>
</div>
