/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  width: 100%;

}

::-webkit-scrollbar {
  width: 10px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: #909396;
  border-radius: 10px;
}

.font-lucida-console {
  font-family: "Lucida Console", "Courier New", monospace;
}

.fs-7 {
  font-size: 0.75rem;
}

.poiret-one-regular {
  font-family: "Poiret One", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.fs-1vw {
  font-size: 0.6vw;
}

.fs-2vw {
  font-size: 0.7vw;
}

.fs-3vw {
  font-size: 0.8vw;
}

.fs-4vw {
  font-size: 0.9vw;
}

.fs-5vw {
  font-size: 1vw;
}

.fs-6vw {
  font-size: 1.1vw;
}

.fs-7vw {
  font-size: 1.2vw;
}

.fs-h2-vw {
  font-size: 1.6vw;
}

.fs-h1-vw {
  font-size: 2vw;
}

.gap-1vh {
  gap: 1vh;
}

.mb-07vh {
  margin-bottom: 0.7vh;
}

.mb-1vh {
  margin-bottom: 1vh;
}
